@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

.menu.active {
  /* border: 1px solid #00ffff; */
  box-shadow: 0 0 10px #00ffff;
}

html,
body,
#root {
  height: 100%;
}
